<div class="card" style="color: black;">
  <div class="card-body collapse show">
    <div class="tab-content">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home8" role="tab"
            ><span><i class="ti-user"></i> Registro </span></a
          >
        </li>
      </ul>
      <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="home8" role="tabpanel">
          <div class="p-20">
            <div class="tab-pane fade show active">
              <form #f="ngForm">
                <div class="row col-xs-12 col-md-12 col-lg-12">
                  <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                    <label for="vdesc_TEMA" class="control-label"
                      >Nombre del Tema:
                    </label>

                    <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                      <input
                        id="vdesc_TEMA"
                        [(ngModel)]="_tema.vdesc_TEMA"
                        name="vdesc_TEMA"
                        type="text"
                        class="form-control"
                        placeholder="Tema"
                        #vdesc_TEMA="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && vdesc_TEMA.invalid
                        }"
                        required
                      />
                      <div
                        class="pt-1 text-danger"
                        *ngIf="f.submitted && vdesc_TEMA.invalid"
                        class="invalid-feedback"
                      >
                        <span class="form-control-feedback">
                          <i class="fa fa-times-circle-o"></i> Este campo es
                          <strong>requerido.</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="row col-xs-12 col-md-12 col-lg-12"
                  *ngIf="!actualizar; else actividades"
                >
                  <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                    <label for="icod_ACTIVIDAD" class="control-label"
                      >Lista de Actividades:
                    </label>

                    <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                      <select
                        (change)="valor($event)"
                        id="icod_ACTIVIDAD"
                        [(ngModel)]="_tema.actividad.vdesc_ACTIVIDAD"
                        name="icod_ACTIVIDAD"
                        class="form-control"
                        #icod_ACTIVIDAD="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && icod_ACTIVIDAD.invalid
                        }"
                        required
                      >
                        <option value="">Seleccione</option>
                        <option
                          [value]="item.icod_ACTIVIDAD"
                          *ngFor="let item of _lista_actividades"
                          >{{ item.vdesc_ACTIVIDAD }}</option
                        >
                      </select>
                      <div
                        class="pt-1 text-danger"
                        *ngIf="f.submitted && icod_ACTIVIDAD.invalid"
                        class="invalid-feedback"
                      >
                        <span class="form-control-feedback">
                          <i class="fa fa-times-circle-o"></i> Este campo es
                          <strong>requerido.</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <ng-template #actividades>
                  <div class="row col-xs-12 col-md-12 col-lg-12">
                    <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                      <label for="icod_ACTIVIDADs" class="control-label"
                        >Lista de Actividades:
                      </label>

                      <div class="form-group  col-xs-12 col-md-12 col-lg-12">
                        <select
                          (change)="valor($event)"
                          id="icod_ACTIVIDADs"
                          [(ngModel)]="_tema.actividad.icod_ACTIVIDAD"
                          name="icod_ACTIVIDADs"
                          class="form-control"
                          #icod_ACTIVIDADs="ngModel"
                          [ngClass]="{
                            'is-invalid': f.submitted && icod_ACTIVIDADs.invalid
                          }"
                          required
                        >
                          <option [value]="_tema.actividad.icod_ACTIVIDAD">{{
                            _tema.actividad.vdesc_ACTIVIDAD
                          }}</option>
                        </select>
                        <div
                          class="pt-1 text-danger"
                          *ngIf="f.submitted && icod_ACTIVIDADs.invalid"
                          class="invalid-feedback"
                        >
                          <span class="form-control-feedback">
                            <i class="fa fa-times-circle-o"></i> Este campo es
                            <strong>requerido.</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <button
                  *ngIf="!actualizar; else boton"
                  class="btn btn-info form-group "
                  type="submit"
                  (click)="guardarDocente(f, 'create')"
                >
                  Registrar
                </button>
                <ng-template #boton>
                  <button
                    class="btn btn-success form-group"
                    (click)="guardarDocente(f, 'update')"
                  >
                    Actualizar
                  </button>
                </ng-template>

                <button
                  class="btn btn-dark form-group ml-3"
                  [routerLink]="['/tema']"
                >
                  Cancelar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
