USE [master]
GO
/****** Object:  Database [REUNIONES]    Script Date: 21/11/2019 11:03:24 ******/
CREATE DATABASE [REUNIONES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REUNIONES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REUNIONES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REUNIONES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\REUNIONES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REUNIONES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REUNIONES]
GO
/****** Object:  Table [dbo].[TBL_ACTIVIDADES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACTIVIDADES](
	[ICOD_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[VDESC_ACTIVIDAD] [varchar](250) NULL,
	[DFEC_ACTIVIDAD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ICOD_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ASIGNADO]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ASIGNADO](
	[FK_ICOD_TEMA] [int] NOT NULL,
	[FK_ICOD_DOCENTE] [int] NOT NULL,
	[DFEC_ASIGNADO] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CARGOS]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARGOS](
	[ICOD_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[VDESC_CARGO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ICOD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DOCENTES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DOCENTES](
	[ICOD_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[VNOMBRE_DOCENTE] [varchar](50) NULL,
	[VAPATERNO_DOCENTE] [varchar](50) NULL,
	[VAMATERNO_DOCENTE] [varchar](50) NULL,
	[FK_ICOD_CARGO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ICOD_DOCENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_REUNIONES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REUNIONES](
	[ICOD_REUNION] [int] IDENTITY(1,1) NOT NULL,
	[DFEC_REUNION] [date] NULL,
	[DHENT_REUNION] [datetime] NULL,
	[DHSAL_REUNION] [datetime] NULL,
	[VLUGAR_REUNION] [varchar](50) NULL,
	[FK_ICOD_DOCENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ICOD_REUNION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TEMAS]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TEMAS](
	[ICOD_TEMA] [int] IDENTITY(1,1) NOT NULL,
	[VDESC_TEMA] [varchar](500) NULL,
	[CEST_TEMA] [char](1) NULL,
	[FK_ICOD_ACTIVIDAD] [int] NOT NULL,
	[FK_ICOD_REUNION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ICOD_TEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_ACTIVIDADES] ON 

INSERT [dbo].[TBL_ACTIVIDADES] ([ICOD_ACTIVIDAD], [VDESC_ACTIVIDAD], [DFEC_ACTIVIDAD]) VALUES (1, N'ACTIVIDAD REVISIÓN DE SILABUS', CAST(N'2019-11-20' AS Date))
SET IDENTITY_INSERT [dbo].[TBL_ACTIVIDADES] OFF
SET IDENTITY_INSERT [dbo].[TBL_CARGOS] ON 

INSERT [dbo].[TBL_CARGOS] ([ICOD_CARGO], [VDESC_CARGO]) VALUES (1, N'COORDINADOR DEL CURSO DE INGENIERÍA DE REQUERIMIENTOS')
SET IDENTITY_INSERT [dbo].[TBL_CARGOS] OFF
SET IDENTITY_INSERT [dbo].[TBL_DOCENTES] ON 

INSERT [dbo].[TBL_DOCENTES] ([ICOD_DOCENTE], [VNOMBRE_DOCENTE], [VAPATERNO_DOCENTE], [VAMATERNO_DOCENTE], [FK_ICOD_CARGO]) VALUES (1, N'CHRISTIAN', N'BACILIO ', N'DE LA CRUZ', 1)
SET IDENTITY_INSERT [dbo].[TBL_DOCENTES] OFF
ALTER TABLE [dbo].[TBL_TEMAS] ADD  DEFAULT ('1') FOR [CEST_TEMA]
GO
ALTER TABLE [dbo].[TBL_ASIGNADO]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_TEMA])
REFERENCES [dbo].[TBL_TEMAS] ([ICOD_TEMA])
GO
ALTER TABLE [dbo].[TBL_ASIGNADO]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_DOCENTE])
REFERENCES [dbo].[TBL_DOCENTES] ([ICOD_DOCENTE])
GO
ALTER TABLE [dbo].[TBL_DOCENTES]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_CARGO])
REFERENCES [dbo].[TBL_CARGOS] ([ICOD_CARGO])
GO
ALTER TABLE [dbo].[TBL_REUNIONES]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_DOCENTE])
REFERENCES [dbo].[TBL_DOCENTES] ([ICOD_DOCENTE])
GO
ALTER TABLE [dbo].[TBL_TEMAS]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_ACTIVIDAD])
REFERENCES [dbo].[TBL_ACTIVIDADES] ([ICOD_ACTIVIDAD])
GO
ALTER TABLE [dbo].[TBL_TEMAS]  WITH CHECK ADD FOREIGN KEY([FK_ICOD_REUNION])
REFERENCES [dbo].[TBL_REUNIONES] ([ICOD_REUNION])
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ACTIVIDAD]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_ACTIVIDAD](@ICOD_ACTIVIDAD INT)
AS
BEGIN
DELETE FROM TBL_ACTIVIDADES
WHERE ICOD_ACTIVIDAD LIKE @ICOD_ACTIVIDAD
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CARGO]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_CARGO](@ICOD_CARGO INT)
AS
BEGIN
DELETE FROM TBL_CARGOS
WHERE ICOD_CARGO LIKE @ICOD_CARGO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DOCENTE]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_DOCENTE](@ICOD_DOCENTE INT)
AS
BEGIN
DELETE FROM TBL_DOCENTES
WHERE ICOD_DOCENTE LIKE @ICOD_DOCENTE
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ACTIVIDAD]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_ACTIVIDAD](
@VDESC_ACTIVIDAD VARCHAR(250),
@DFEC_ACTIVIDAD DATE
)
AS
BEGIN
INSERT INTO TBL_ACTIVIDADES(VDESC_ACTIVIDAD,DFEC_ACTIVIDAD)
VALUES (@VDESC_ACTIVIDAD, @DFEC_ACTIVIDAD);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CARGOS]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_CARGOS](@VDESC_CARGO VARCHAR(100))
AS
BEGIN
INSERT INTO TBL_CARGOS(VDESC_CARGO) VALUES (@VDESC_CARGO);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DOCENTES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DOCENTES](
@VNOMBRE_DOCENTE VARCHAR(50),
@VAPATERNO_DOCENTE VARCHAR(50),
@VAMATERNO_DOCENTE VARCHAR(50),
@FK_ICOD_CARGO INT
)
AS
BEGIN
INSERT INTO TBL_DOCENTES(VNOMBRE_DOCENTE,VAPATERNO_DOCENTE,VAMATERNO_DOCENTE,FK_ICOD_CARGO)
VALUES (@VNOMBRE_DOCENTE, @VAPATERNO_DOCENTE,@VAMATERNO_DOCENTE,@FK_ICOD_CARGO);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_ACTIVIDADES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_ACTIVIDADES]
AS
BEGIN
SELECT A.ICOD_ACTIVIDAD,A.VDESC_ACTIVIDAD,A.DFEC_ACTIVIDAD
FROM DBO.TBL_ACTIVIDADES AS A
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CARGOS]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_CARGOS]
AS
BEGIN
SELECT C.ICOD_CARGO,C.VDESC_CARGO
FROM DBO.TBL_CARGOS AS C
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DOCENTES]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_DOCENTES]
AS
BEGIN
SELECT D.ICOD_DOCENTE,D.VNOMBRE_DOCENTE,D.VAPATERNO_DOCENTE,D.VAMATERNO_DOCENTE,C.VDESC_CARGO
FROM DBO.TBL_DOCENTES AS D
INNER JOIN DBO.TBL_CARGOS C 
ON D.FK_ICOD_CARGO = C.ICOD_CARGO
WHERE D.FK_ICOD_CARGO = C.ICOD_CARGO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTEBER_ACTIVIDAD_ID]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTEBER_ACTIVIDAD_ID](@ICOD_ACTIVIDAD INT)
AS
BEGIN
SELECT A.ICOD_ACTIVIDAD,A.VDESC_ACTIVIDAD,A.DFEC_ACTIVIDAD
FROM DBO.TBL_ACTIVIDADES AS A
WHERE A.ICOD_ACTIVIDAD LIKE @ICOD_ACTIVIDAD;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTEBER_CARGOS_ID]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTEBER_CARGOS_ID](@ICOD_CARGO INT)
AS
BEGIN
SELECT C.ICOD_CARGO,C.VDESC_CARGO
FROM DBO.TBL_CARGOS AS C
WHERE C.ICOD_CARGO LIKE @ICOD_CARGO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTEBER_DOCENTE_ID]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTEBER_DOCENTE_ID](@ICOD_DOCENTE INT)
AS
BEGIN
SELECT D.ICOD_DOCENTE,D.VNOMBRE_DOCENTE,D.VAPATERNO_DOCENTE,D.VAMATERNO_DOCENTE,C.VDESC_CARGO
FROM DBO.TBL_DOCENTES AS D
INNER JOIN DBO.TBL_CARGOS C 
ON D.FK_ICOD_CARGO LIKE C.ICOD_CARGO
WHERE C.ICOD_CARGO LIKE D.FK_ICOD_CARGO 
AND D.ICOD_DOCENTE LIKE @ICOD_DOCENTE;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_ACTIVIDAD]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_ACTIVIDAD](
@ICOD_ACTIVIDAD INT,
@VDESC_ACTIVIDAD VARCHAR(250),
@DFEC_ACTIVIDAD DATE
)
AS
BEGIN
UPDATE TBL_ACTIVIDADES
SET VDESC_ACTIVIDAD = @VDESC_ACTIVIDAD,
DFEC_ACTIVIDAD = @DFEC_ACTIVIDAD
WHERE ICOD_ACTIVIDAD = @ICOD_ACTIVIDAD
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CARGOS]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CARGOS](
@ICOD_CARGO INT,
@VDESC_CARGO VARCHAR(100)
)
AS
BEGIN
UPDATE TBL_CARGOS
SET VDESC_CARGO = @VDESC_CARGO
WHERE ICOD_CARGO = @ICOD_CARGO
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DOCENTE]    Script Date: 21/11/2019 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_DOCENTE](
@ICOD_DOCENTE INT,
@VNOMBRE_DOCENTE VARCHAR(50),
@VAPATERNO_DOCENTE VARCHAR(50),
@VAMATERNO_DOCENTE VARCHAR(50),
@FK_ICOD_CARGO INT
)
AS
BEGIN
UPDATE TBL_DOCENTES
SET VNOMBRE_DOCENTE = @VNOMBRE_DOCENTE,
VAPATERNO_DOCENTE = @VAPATERNO_DOCENTE,
VAMATERNO_DOCENTE = @VAMATERNO_DOCENTE
WHERE FK_ICOD_CARGO = @FK_ICOD_CARGO
AND ICOD_DOCENTE = ICOD_DOCENTE 
END;
GO
USE [master]
GO
